<section class="main">
<div class="scroll">
    <div class="container overview">
        <div class="row overview-title d-flex justify-content-between m-auto">
            <div class="col-6">
                <h5><i class="fas fa-chart-line me-2 text-primary"></i>Stat-Overview</h5>
            </div>
            <div class="col-6 text-end dropdown">
                    <button class="btn bg-light filter-btn dropdown-toggle border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Show Filter&nbsp;<i class="fas fa-filter text-primary"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Filter1</a></li>
                      <li><a class="dropdown-item" href="#">Filter2</a></li>
                      <li><a class="dropdown-item" href="#">Filter3</a></li>
                    </ul>
            </div>
        </div>
        <div class="row card-deck d-flex justify-content-between">
                <div class="card col-2">
                    <div class="card-body">
                        <div class="cardheading d-flex justify-content-between">
                            <h4>72</h4>
                            <i class="fas fa-store fa-2x text-primary"></i>
                        </div>
                        <div class="card-title">
                            <h6>Total Stores</h6>
                        </div>
                        <div class="card-text">
                            <small>Here goes a line of text...</small>
                        </div>
                    </div>
                </div>

                <div class="card col-2">
                    <div class="card-body">
                        <div class="cardheading d-flex justify-content-between">
                            <h4>32</h4>
                            <i class="fas fa-tags fa-2x text-warning"></i>
                        </div>
                        <div class="card-title">
                            <h6>Brands</h6>
                        </div>
                        <div class="card-text">
                            <small>Here goes a line of text...</small>
                        </div>
                    </div>
                </div>

                <div class="card col-2">
                    <div class="card-body">
                        <div class="cardheading d-flex justify-content-between">
                            <h4>75</h4>
                            <i class="fas fa-box-open fa-2x text-success"></i>
                        </div>
                        <div class="card-title">
                            <h6>Products</h6>
                        </div>
                        <div class="card-text">
                            <small>Here goes a line of text...</small>
                        </div>
                    </div>
                </div>

                <div class="card col-2">
                    <div class="card-body">
                        <div class="cardheading d-flex justify-content-between">
                            <h4>104</h4>
                            <i class="fas fa-bahai fa-2x text-danger"></i>
                        </div>
                        <div class="card-title">
                            <h6>On Promotion</h6>
                        </div>
                        <div class="card-text">
                            <small>Here goes a line of text...</small>
                        </div>
                    </div>
                </div>

                <div class="card col-2">
                    <div class="card-body">
                        <div class="cardheading d-flex justify-content-between">
                            <h4>95</h4>
                            <i class="far fa-chart-bar fa-2x text-info"></i>
                        </div>
                        <div class="card-title">
                            <h6>Avg. Facings <small>/Store</small></h6>
                        </div>
                        <div class="card-text">
                            <small>Here goes a line of text...</small>
                        </div>
                    </div>
            </div>
        </div>  
    </div>



    <div class="container">
        <div class="row">
            <h5><i class="fas fa-chart-pie  me-2 text-primary"></i>Product Sharing Analysis</h5>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="header">
                            <h5>Product List</h5>
                            <small>Here goes supporting lines of text</small>
                        </div>
                        <div class="dropdown ms-auto">
                                <button class="btn filter-btn bg-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Duration
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="#">Today</a></li>
                                  <li><a class="dropdown-item" href="#">Yesterday</a></li>
                                  <li><a class="dropdown-item" href="#">Last Week</a></li>
                                  <li><a class="dropdown-item" href="#">Last Month</a></li>
                                  <li><a class="dropdown-item" href="#">Last 6 Months</a></li>
                                  <li><a class="dropdown-item" href="#">Last Year</a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="card-body">  
                        <div id="donutchart" style="width: 300px; height: 600px;"></div> 
                    </div>
                </div>
            </div>

            <div class="card-group col-6">
            <div class="card col-6 shadow-none">
                <div class="card-header">
                    <h6>Increase in Shares</h6>
                   <small>Here goes some text</small>
                </div>
                <div class="card-body row">
                    <div class="d-flex justify-content-between">
                        <span>
                        <h6>55%</h6>
                        <small>Garnier</small>
                        </span>
                        <span>
                            <i class="fas fa-arrow-up"></i>
                        </span>
                   </div>
                   <div class="d-flex justify-content-between">
                       <span>
                       <h6>55%</h6>
                       <small>Garnier</small>
                        </span>
                        <span>
                            <i class="fas fa-arrow-up"></i>
                        </span>
                   </div>
                   <div class="d-flex justify-content-between">
                       <span>
                       <h6>55%</h6>
                       <small>Garnier</small>
                        </span>
                        <span>
                            <i class="fas fa-arrow-up"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card col-6 shadow-none">
                    <div class="card-header">
                        <h6>Increase in Shares</h6>
                        <small>Here goes some text</small>
                    </div>
                    <div class="card-body row">
                        <div class="d-flex justify-content-between">
                            <span>
                            <h6>55%</h6>
                            <small>Garnier</small>
                            </span>
                            <span>
                                <i class="fas fa-arrow-down"></i>
                            </span>
                       </div>
                       <div class="d-flex justify-content-between">
                           <span>
                           <h6>55%</h6>
                           <small>Garnier</small>
                            </span>
                            <span>
                                <i class="fas fa-arrow-down"></i>
                            </span>
                       </div>
                       <div class="d-flex justify-content-between">
                           <span>
                           <h6>55%</h6>
                           <small>Garnier</small>
                            </span>
                            <span>
                                <i class="fas fa-arrow-down"></i>
                            </span>
                        </div>
                    </div>
                 </div>
            </div>
            
            





            


        </div> 
    </div>
</div>

</section>
