.main{
    background: rgb(230, 227, 227);
    width: calc(100vw - 270px);
    min-height: calc(100vh - 70px);
    top: auto;
    left: 270px;
    position: fixed;
    border-radius: 15px;
    height: calc(100vh - 70px);
    
}

.scroll{
    overflow-y: scroll;
    position: relative;
    height: calc(100vh - 70px);
}

.scroll::-webkit-scrollbar {
    overflow-y: scroll;
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.overview{
    border: 1px solid #000;
    height: 100px;
    margin:0px;
}

.overview-title{
    width: 100%;
}

.card{
    height: auto;
    width: auto;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 05px 2px #000;
}

.card:hover{
    box-shadow: -3px 3px 15px 5px #000;
}

.card-body{
    width: 100%;
    padding: 08px 0px;
}

.overview{
    margin: 20px auto;
    width: 100%;
    height: 35%;
}

.filter-btn{
    height: 35px;
    width: 120px;
    border-radius: 20px;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
}

.col-sm-3 h5{
    font-size: 18px;
}

.card-body .cardheading h4{
    font-size: 28px;
}

.card-body .card-text small{
    font-size: 12px;
    color: grey;
}

.container{
    border: 1px solid #000;
    height: auto;
}



/*-----media query----*/
@media(max-width: 768px) {
    .main{
        width: 100vw;
        top: auto;
        left: 0px;
        border-radius: 15px;
    }

    .card{
        height: 130px;
        width: 240px;
        margin: 10px auto;
        border-radius: 10px;
    }

    .col-6 h5{
        font-size: 16px;
    }
    

}
